.reacts
	.circle
		img(src="https://res.cloudinary.com/prvnbist/image/upload/v1492531171/XZOPuv9_eyqlr2.png", alt="")
		p Like
	.circle
		img(src="https://res.cloudinary.com/prvnbist/image/upload/v1492531172/uIjLl6R_cmbnqb.png", alt="")
		p Love
	.circle
		img(src="https://res.cloudinary.com/prvnbist/image/upload/v1492531177/lsHmtDy_ycqnbp.png", alt="")
		p Haha
	.circle
		img(src="https://res.cloudinary.com/prvnbist/image/upload/v1492531177/s475u9d_o8trbg.png", alt="")
		p Wow
	.circle
		img(src="https://res.cloudinary.com/prvnbist/image/upload/v1492531172/JJuD9qb_a7gkmu.png", alt="")
		p Sad
	.circle
		img(src="https://res.cloudinary.com/prvnbist/image/upload/v1492531178/VDM3zOV_qy9fqj.png", alt="")
		p Angry

.like
	p Reanimate